@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    Arindam Nayak<br />
    Talentica, PN MH IN-45<br />
    <abbr title="Phone">P:</abbr>
    020.440.4650
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@techdemo.com">Support@techdemo.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@techdemo.com">Marketing@techdemo.com</a>
</address>