@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tech Demos</h1>
    <p class="lead">Simple TODO list manager built using MVC, HTML, CSS and JavaScript, hosted as Azure website.
     For more information, click Learn More. , </p>
    <ul>Change 1 ( from VS publish)</ul>
    <ul>Change 2 ( from local GIT) </ul>
    <ul>Change 3 ( from  GitHub) - change</ul>
    <ul>Change 4 ( from  VS Online) </ul>
    <p><a href="http://techtaskmanager.azurewebsites.net/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
           [ Lorem Ipsusm Lorem Ipsusm Lorem Ipsusm Lorem Ipsusm Lorem Ipsusm Lorem Ipsusm Lorem Ipsusm
            Lorem Lorem Ipsusm. ]
        </p>
        <p><a class="btn btn-default" href="http://techtaskmanager.azurewebsites.net/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4" style="display:none">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4" style="display:none">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>