<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://techdemos1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>techdemos1.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>techdemos1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$techdemos1</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ContactManagerContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:jqq8ie6huy.database.windows.net,1433;Initial Catalog=TechtasksDB;User ID=arindam@jqq8ie6huy;Password=Confirm!1" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ContactManager.Models.ContactManagerContext, ContactManager" MigrationConfiguration="ContactManager.Migrations.Configuration, ContactManager" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ContactManagerContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:jqq8ie6huy.database.windows.net,1433;Initial Catalog=TechtasksDB;User ID=arindam@jqq8ie6huy;Password=Confirm!1</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>